@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans:ital,wght@1,500&display=swap');
body {
  padding: 10px;
  background: rgb(255, 255, 255);
  font-family: 'Abel', sans-serif;
  color: white;
}
