.container {
    border-radius: 1.8px;
    text-align: center; 
}
 
.imagesection {
    max-width: 30%;
    max-height: 300px;
    border-color: #121212;
}
  
  
.imageset {
    margin-bottom: 2rem;
    color: #000;
    font-size: 2rem;
}
  
.imageset button{
  background-color: lime;
  border:none;
  height:35px;
  outline: none;
  border-radius: 10px;
  width: 110px;
  font-weight: bold;
}
.imageset button:hover{
    background-color: #529e7e;
    border:none;
    height:35px;
    outline: none;
    border-radius: 10px;
    width:120px;  
}

.footer {
  position: fixed;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  height: 40px;
  background-color: #121212;
  color: #e9f2ee;
  text-align: center; 
  font-weight: bolder;
  font-size: 1rem;
}
